body {
  font-family: sans-serif;
  padding: 20px;
  margin: 0;
  background-color: #dedcdc;
}

.app {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #9e9c9c;
}

tr:hover {
  background-color: #f3f3e7;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}